@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Examples:</h3>
<ul>
    <li>
        <a href="Scripts/extjs4-mvc-complex-dashboard/index.html">ExtJS 4 MVC Complex Dashboard Example (not minified)</a>
    </li>
    <li>
        <a href="Scripts/extjs4-mvc-complex-dashboard/index.min.html">ExtJS 4 MVC Complex Dashboard Example (minified)</a>
    </li>
    
    <li>
        <a href="Scripts/arrayGrid/index.html">Basic Array Grid Example (not minified)</a>
    </li>
    <li>
        <a href="Scripts/arrayGrid/index.min.html">Basic Array Grid Example (minified)</a>
    </li>

    <li>
        <a href="Scripts/mvc-portal/index.html">ExtJS 4 MVC Portal Example (not minified)</a>
    </li>
    <li>
        <a href="Scripts/mvc-portal/index.min.html">ExtJS 4 MVC Portal Example (minified)</a>
    </li>
</ul>