<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net40" />
  <package id="C5" version="1.0.2.0" targetFramework="net40" />
  <package id="Costura.Fody" version="1.0.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="1.14.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="Plossum.CommandLine" version="0.3.0.14" targetFramework="net40" />
  <package id="WebGrease" version="1.6.0" targetFramework="net40" />
</packages>